@charset "utf-8";
/* CSS Document */

body{
	padding:0px;
	margin:0px;
	background:#bfbfbf;
}
.container{
    height:400px;
}
.content{
    height:250px;
}
.nav{
     height:100px;
     background-color: grey;
}
.footer{
     height:50px;
     background-color: grey;
}